body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimGray;
}
.orange-highlight{
    color:rgb(255, 0, 157);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.latest-work-bg{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.footer-work-bg{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(255, 122, 122),tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}
#apps-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}
.text-middle{
    text-align: center;
    margin-top: 200px;
}
.one-third{

    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.one-third img{
    width: 100%;
}
.client-text-middle{
    text-align: center;
    
}
.contact-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(255, 122, 122),tomato);
    padding: 2%;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
.contact-button p{
    color: white;
    font-weight: normal;
}
